{% extends '../common/layout.html' %} {% block head %}
<link rel="stylesheet" href="../css/main.css" />
{% endblock %} {% block header %} {% include '../common/header.html' %} {%
endblock %} {% block body %}
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column" id="sidebar_list">
          {% for item in menu %}
          <li class="nav-item j-nav-item">
            <a
              class="nav-link {{'active' if activeMenu === loop.index0 else ''}}"
              href="{{item.url}}"
            >
              <span data-feather="{{item.icon}}"></span>
              {{item.title}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</div>
{% endblock %} {% block footer %} {% include '../common/footer.html' %} {%
endblock %} {% block extra %} {{ super() }}
<script src="../js/main.js"></script>
<script>
  var toast = {
    hideTimeout: null,
    init: function () {
      var toastNode = document.createElement("div");
      toastNode.innerHTML = '<span class="text">默认提示</span>'; //设置HTML模板，可以根据需求设计
      toastNode.id = "toast"; //设置id，一个页面有且仅有一个toast
      toastNode.setAttribute("class", "toast"); // 设置类名，如果有必要的话
      toastNode.style.display = "none"; //设置隐藏，默认隐藏
      document.body.appendChild(toastNode); //添加到body下面
    },
    show: function (text) {
      if (this.hideTimeout) {
        //判断当前是否有弹出框，有的话先关闭当前
        clearTimeout(this.hideTimeOut);
        this.hideTimeOut = null;
      }
      if (!text) {
        //判断传入提示文本是否为空，是的话返回
        console.log("text为空");
        return;
      }
      var toastNode = document.getElementById("toast");
      if (!toastNode) {
        //判断toast是否初始化
        console.log("未初始化");
        return;
      }
      var toastText = toastNode.querySelector(".text");
      toastText.innerHTML = text || ""; //找到toast设置显示文本
      toastNode.style.display = "block"; //设置toast为显示状态
      this.hideTimeout = setTimeout(function () {
        //timeout设置多久后隐藏
        toastNode.style.display = "none";
        toast.hideTimeout = null;
      }, 2000);
    },
    hide: function () {
      if (this.hideTimeout) {
        //如果当前存在toast，就关闭当前toast
        clearTimeout(this.hideTimeOut);
        this.hideTimeOut = null;
      }
      var toastNode = document.getElementById("toast");
      if (toastNode) {
        toastNode.style.display = "none"; //移除toastDOM
        document.body.removeChild(toastNode);
      }
    },
  };

  function message(msg, callback) {
    toast.init();
    toast.show(msg);
    setTimeout(function () {
      toast.hide();
      if (callback) {
        callback();
      }
    }, 2000);
  }
</script>
{% endblock %}
